.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title{
  color: azure;
  background-color: #27324b;
  border-radius: 10px;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.form{
  background-color: #384157;
  margin: 10px;
  padding: 20px 20px;
  width: 50%;
  text-align: center;
  margin-left: 20%;
  border-radius: 20px;
}

.name{
  background-color: #27324b;
  color: azure;
  margin-top: -25px;
  margin-bottom: -20px;
  padding: 15px;
  border-radius: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.gender{
  background-color: #27324b;
  color: azure;
  margin-top: -25px;
  margin-bottom: -20px;
  padding: 10px;
  border-radius: 20px;
  width: 50%;
}

.submit{
  background-color: #61dafb;
  color: #27324b;
  padding: 10px;
  border-color: #27324b;
  border-radius: 20px;
  width: 30%;
  cursor: pointer;
  transition: all 300ms;
}

.submit:hover{
  background-color: #009fcb;
}
.info-user{
  background-color: #27324b;
  padding: 10px 10px;
  border-radius: 15px;
  margin-top: 40px;
  max-width: 70%;
  text-align: center;
  margin-left: 10%;
}