.App {
  text-align: center;
}

.App-logo {
  height: 25svmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.label{
  color: rgb(27, 235, 166);
  border-radius: 50px;
  padding: 5px;
  background-color: #078af5;
}

.lastYear{
  background-color: rgb(255, 180, 110);
  padding: 10px;
  width: auto !important;
  height: auto;
}

.nextYear{
  background-color: rgb(145, 245, 64);
  padding: 10px;
  width: auto !important;
  height: auto;
}

.actualYear{
  background-color: #61dafb;
  padding: 10px;
  width: auto !important;
  height: auto;
}

.changeYear{
  color: #61dafb;
  margin-top: 10px;
  font-size: xx-large;
}

.year{
  background-color: #61dafb;
  padding: 10px;
  width: auto !important;
  height: auto;
}

