/* GENERAL */

body{
  background-color: #d1defa;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.layout{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas:
      "header header header header"
      "nav nav nav nav"
      "lateral content content content"
      "footer footer footer footer"
  ;
  grid-template-rows: 100px 70px 800px 10px;
}

/* HEADER */

.header{
  grid-area: header;
  background: #d8a573;
  text-align: left;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.logo{
  background: linear-gradient(90deg, #8e5535 10%, #9a684c 100%);
  width: 40px;
  height: 40px;
  border-radius: 300px;
  margin-top: 30px;
}

.header h1{
  margin-left: 15px;
  margin-top: 33px;
}

.play{
  width: 0px;
  height: 0px;
  margin-top: 15px;
  margin-left: 16px;
  border-left: 12px solid white;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
}

/* NavBar */

.nav{
  grid-area: nav;
  background: linear-gradient(90deg, #90683b 10%, #92663c 100%);
}

.nav > ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav li{
  padding: 10px;
}

.nav a{
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  font-size: 18px;
  font-weight: lighter;
  color: rgb(7, 7, 7);
  text-decoration: none;
  transition: all 300ms;
}

.nav a:hover{
  transform: scale(1.1,1.1);
}

/* CONTENIDO */

.content{
  grid-area: content;
  background: #d6b595;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.peli-item{
  flex-grow: 1;
  background: #90683b;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #49321c;
  margin: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 30px;
  margin-right: 30px;
}

button,
input[type="submit"],
input[type="button"]{
  width: 100px;
  background: #d6b595;
  color: rgb(0, 0, 0);
  border: 0px;
  outline: 0px;
  padding: 15px;
  border-radius: 3px;
  margin-top: 15px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms;
}

.peli-item .edit{
  margin-right: 7px;
}

.edit:hover{
  background: #51924b;
}

.delete:hover{
  background: #8a3d3d;
}

.no-items{
  justify-content: center;
  padding: 20px;  
}

/* LATERAL */
.lateral{
  grid-area: lateral;
  background: #d8a573;
  border-right: 1px solid #545454;
  padding: 20px;
}

.lateral > div{
  box-sizing: border-box;
  width: 90%;
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  background-color: #90683b;
  border-radius: 10px;
  box-shadow: 0px 0px 6px #49321c;

}

.lateral input[type="text"],
.lateral input[type="search"],
.lateral textarea{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background: #fff1d9;
  color: #49321c;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}

.buscar:hover{
  background: #466ab8;
}

.guardar:hover{
  background: #466ab8;
}

/* FOOTER */
.footer{
  grid-area: footer;
  background: #90683b;
  color: #454545;
  border-top: 1px solid rgb(247, 203, 121);
  text-align: left;
  line-height: 68px;
  padding-left: 25px;
}

.footer a{
  color: #0b468a;
  text-decoration: none;
}

@media (max-width: 1085px){
  .content{
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
  }

  .peli-item{
      width: 80%;
  }
}

/* EDITAR */
.edit_form{
  background-color: #d8a573;
  justify-content: center;
  padding: 20px;
  margin-top: 25px;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
}

.edit_form input[type="text"],
.edit_form textarea{
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  padding: 12px;
  border-radius: 5px; 
  background: #fff1d9;
  color: #49321c;
  width: 80%;
  opacity: 4;
  outline: 0;
  border-color: transparent;
}